<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Order {@order.id}
    <:subtitle>This is a order record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/orders"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/orders/#{@order}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit order
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Items">{@order.items}</:item>
    <:item title="Status">{@order.status}</:item>
  </.list>
</Layouts.app>
