<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Customer {@customer.id}
    <:subtitle>Use this form to manage customer records in your database.</:subtitle>
  </.header>

  <.customer_form changeset={@changeset} action={~p"/customers/#{@customer}"} return_to={~p"/customers"} />
</Layouts.app>
