<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Customer
  </.header>

  <.customer_form changeset={@changeset} action={~p"/customers"} return_to={~p"/customers"} />
</Layouts.app>
